<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<!-- Supprimer la section des services si les endpoints sont définis dans le code -->
	<!-- system.serviceModel -->
	<!-- La section des behaviors peut être conservée pour les comportements globaux -->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Les valeurs pour l'environnement de production -->
					<serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
